a.out
.DS_Store
machine_learning/Python/dataset
machine_learning/Python/data
machine_learning/Python/sessions
machine_learning/Python/lstm_sessions
machine_learning/Python/venv
machine_learning/C/src/matrices